<div class="jumbotron">
  <div class="center">
    <h1>Welcome to Pinteresting</h1>
    <p>The home of pictures.</p>
    
    <% if user_signed_in? %>

    <% else %>
    <p>
    	<%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %>
    	<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-default btn-lg" %>
	</p>
	<% end %>

  </div>
</div>
